<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Timeline</title>
    <link rel="stylesheet" href="/css/home/index.css">
</head>
<body>
    <div class="main">
        <nav id="aa">
            <li><a href="/calendar">Calendar</a>
            <li><a href="/timer">Timer</a>
            <li><a href="/post">Post</a>
            <li><a href="/login">Login</a>
        </nav>
    </div>
</body>
</html>