<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Timeline</title>
    <link rel="stylesheet" href="/css/home/post.css">
    <script src="/js/home/post.js" defer></script>
</head>
<body>
    <header>
        <nav id="aa">
            <li><a href="/">main</a>
            <li><a href="/calendar">calendar</a>
            <li><a href="/timer">timer</a>
            <li><a href="/logout">logout</a>
        </nav>
    </header>
</body>
</html>